#include "sun7i-a20-olinuxino-lime2.dts"

&pio {
	lvds0_pins_a: lvds@0 {
		pins = "PD0", "PD1", "PD2", "PD3", "PD4",
		       "PD5", "PD6", "PD7", "PD8", "PD9";
		function = "lvds0";
	};
	lvds1_pins_a: lvds@1  {
		pins = "PD10", "PD11", "PD12", "PD13", "PD14",
		       "PD15", "PD16", "PD17", "PD18", "PD19";
		function = "lvds1";
	};

};

&uart3_pins_a {
	pins = "PG6", "PG7";
	function = "uart3";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins_a>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins_a>;
	status = "okay";
};

&rtc {
	status = "disabled";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_a>;
	status = "okay";

	dsrtc: dsrtc@68 {
		reg = <0x68>;
	};

	picbmc: picbmc@69 {
		reg = <0x69>;
		interrupt-parent = <&pio>;
		interrupts = <7 0 IRQ_TYPE_EDGE_RISING>; /* PH0 */
	};
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can0_pins_a>;
	status = "okay";
};

&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";
	button@zdown {
		label = "zdown";
		channel = <0>;
		voltage = <191000>;
	};
	button@zup {
		label = "zup";
		channel = <0>;
		voltage = <391000>;
	};
	button@home {
		label = "gohome";
		channel = <0>;
		voltage = <600000>;
	};
	button@mob {
		label = "MOB";
		channel = <0>;
		voltage = <794000>;
	};
};

/* 
&framebuffer@0 {
	status = "okay";
};
 */

&de {
	allwinner,pipelines = <&be0>;
	status = "okay";
};

&tcon0 {
	resets = <&ccu RST_TCON0>, <&ccu RST_LVDS>;
	reset-names = "lcd", "lvds";
	pinctrl-names = "default";
	pinctrl-0 = <&lvds0_pins_a>, <&lvds1_pins_a>;
};

&tcon0_out {
	tcon0_out_lvds: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_in>;
	};
};

&codec {
	allwinner,pa-gpios = <&pio 2 23 GPIO_ACTIVE_HIGH>; /* PC23 */
	status = "okay";
};

/ {
  panel {
	compatible = "olimex,LCD-OLinuXino-15.6FHD", "panel-dual-lvds";

	width-mm = <344>;
	height-mm = <193>;
	data-mapping = "jeida-18";
	vcc-supply = <&reg_vcc5v0>;
	enable-gpios = <&pio 7 8 GPIO_ACTIVE_HIGH
			&pio 1 2 GPIO_ACTIVE_HIGH>; /* PH8, PB2 */

        panel-timing {
                /* clock-frequency = <76000000>; */
                clock-frequency = <152000000>;
                hactive = <1920>;
                vactive = <1080>;
                hsync-len = <1>;
                hfront-porch = <205>;
                hback-porch = <100>;
                vsync-len = <1>;
                vfront-porch = <38>;
                vback-porch = <23>;
        };

        port {
                panel_in: endpoint {
                        remote-endpoint = <&tcon0_out_lvds>;
                };
        };
  };
};
